<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Анфиса</title>
    <link rel="stylesheet" href="https://code.s3.yandex.net/backend-developer/Anfisa/style.css">
</head>
<body>
    <h1>Здравствуйте! Я - Анфиса!</h1>
    <p>Я могу:</p>
    <ul>
        <li>Показать список ваших друзей</li>
        <li>Сказать, в каком городе живёт ваш друг</li>
        <li>Рассказать о погоде в том городе, где живёт ваш друг</li>
        <li>Сообщить местное время вашего друга</li>
    </ul>
    <p>Все вопросы должны начинаться с имени, например: «<strong>Коля</strong>, ты где?» или «<strong>Анфиса</strong>, сколько у меня друзей?»</p>
    <p>Пока что я понимаю не все вопросы, но готова ответить на такие:</p>
    <ul>
        <li>Анфиса, сколько у меня друзей?</li>
        <li>Анфиса, кто все мои друзья?</li>
        <li>Анфиса, где все мои друзья?</li>
        <li>Коля, ты где?</li>
        <li>Алексей, который час?</li>
        <li>Петя, как погода?</li>
    </ul>
    <a href="/">Задавайте вопросы!</a>
</body>
</html>
